.masonry-grid {
  margin-top: 1rem;
  display: flex;
  width: 100%;
  margin-left: -16px; /* Adjust based on your needs */
}

.masonry-grid_column {
  padding-left: 16px; /* Adjust based on your needs */
  background-clip: padding-box;
}

.masonry-item {
  margin-bottom: 1rem;
  break-inside: avoid;
  position: relative;
  will-change: transform;
  overflow: hidden;
}

.masonry-item img {
  display: block;
  width: 100%;
  height: auto;
  backface-visibility: hidden;
}
